@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1 {
    color: rgb(231, 146, 161);
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    font-family: "Poppins", sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.row {
    align-content: center;
    justify-items: center;
    padding-left: 4%;
    padding-right: 4%;
}

.formulario {
    margin-left: 15px;
    margin-right: 15px;
    justify-content: center;
}

.boton {
    background-color: #C87171;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

.generarbutton {
    justify-content: center;
    text-align: center;
}